// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT
/* ---------------------------------- *\
            Colors
\* ---------------------------------- */

:root {
  // Main colors
  --lfx-color-transparent: transparent;
  --lfx-color-white: #fff;
  --lfx-color-black: #000000;

  // Base
  --lfx-color-text: #000000;
  --lfx-color-background: #fff;

  // Brand
  --lfx-color-brand-900: #000816;
  --lfx-color-brand-800: #002648;
  --lfx-color-brand-700: #004880;
  --lfx-color-brand-600: #006dbe;
  --lfx-color-brand-500: #0094ff;
  --lfx-color-brand-400: #54abff;
  --lfx-color-brand-300: #83c1ff;
  --lfx-color-brand-200: #add6ff;
  --lfx-color-brand-150: #e6f4ff;
  --lfx-color-brand-100: #d6ebff;
  --lfx-color-brand-50: #ebf5ff;

  // Neutral
  --lfx-color-neutral-900: #0f172a;
  --lfx-color-neutral-800: #0f172a;
  --lfx-color-neutral-700: #334155;
  --lfx-color-neutral-600: #475569;
  --lfx-color-neutral-500: #64748b;
  --lfx-color-neutral-400: #94a3b8;
  --lfx-color-neutral-300: #cbd5e1;
  --lfx-color-neutral-250: #d1d5db;
  --lfx-color-neutral-200: #e2e8f0;
  --lfx-color-neutral-150: #f3f4f6;
  --lfx-color-neutral-100: #f1f5f9;
  --lfx-color-neutral-50: #f8fafc;

  // Positive
  --lfx-color-positive-900: #064e3b;
  --lfx-color-positive-800: #065f46;
  --lfx-color-positive-700: #047857;
  --lfx-color-positive-600: #059669;
  --lfx-color-positive-500: #10b981;
  --lfx-color-positive-400: #34d399;
  --lfx-color-positive-300: #6ee7b7;
  --lfx-color-positive-200: #a7f3d0;
  --lfx-color-positive-100: #d1fae5;
  --lfx-color-positive-50: #ecfdf5;

  // Negative
  --lfx-color-negative-900: #7f1d1d;
  --lfx-color-negative-800: #991b1b;
  --lfx-color-negative-700: #b91c1c;
  --lfx-color-negative-600: #dc2626;
  --lfx-color-negative-500: #ef4444;
  --lfx-color-negative-400: #f87171;
  --lfx-color-negative-300: #fca5a5;
  --lfx-color-negative-200: #fecaca;
  --lfx-color-negative-100: #fee2e2;
  --lfx-color-negative-50: #fef2f2;

  // Warning
  --lfx-color-warning-900: #78350f;
  --lfx-color-warning-800: #92400e;
  --lfx-color-warning-700: #b45309;
  --lfx-color-warning-600: #d97706;
  --lfx-color-warning-500: #f59e0b;
  --lfx-color-warning-400: #fbbf24;
  --lfx-color-warning-300: #fcd34d;
  --lfx-color-warning-200: #fde68a;
  --lfx-color-warning-100: #fef3c7;
  --lfx-color-warning-50: #fffbeb;
}
