{{- /* Copyright The Linux Foundation and each contributor to LFX. */ -}}
{{- /* SPDX-License-Identifier: MIT */ -}}
{{- /* Legacy: admin-mentor-declined */ -}}
{{template "header" .}}<p><strong>{{.MentorName}}</strong> declined your invitation to participate as a mentor for the <strong>{{.ProgramName}}</strong> mentorship program.</p>
<p>Log in to LFX Mentorship at your earliest convenience to review your program's mentors.</p>
{{template "button" .ManageURL}}View Program{{template "button_end"}}{{template "footer" .}}
