{{- /* Copyright The Linux Foundation and each contributor to LFX. */ -}}
{{- /* SPDX-License-Identifier: MIT */ -}}
{{template "header" .}}Your request to participate as a mentor for the {{.ProgramName}} mentorship program was declined by the program administrator.

If you believe this is a mistake, please contact the program administrator.

View program: {{.ProgramURL}}
{{template "footer" .}}
